{% extends 'base.html' %}

{% block body%}
<div class="container">
<div class="card-body">
<div class = "form form-group" >
    {%block header%}<h1>Student Data</h1>{%endblock%}
    <div class="row">
        <div class="col-md-4">
          {% with messages = get_flashed_messages()  %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
    <form method = 'POST' action= "/update/{{student['IDN']}}" enctype="multipart/form-data" >
        {{ form.hidden_tag() }}
        <br/>
        <div class="image-container">
            <img id="imagePreview" src="{{ student['image'] }}" alt="" style="width:300px; height:300px;" />
            </div>
        <br/>
        {{ form.image(class='form-control', id='image-input', accept="image/*") }}
        <br/>
        {{form.IDN.label(class = "form-label")}}
        {{ form.IDN(class = "form-control", value= student['IDN'], readonly = "readonly") }}
        <br/>
        {{form.Fname.label(class = "form-label")}}
        {{ form.Fname(class = "form-control", value= student['Fname'])}}
        <br/>
        {{form.Mname.label(class = "form-label")}}
        {{ form.Mname(class = "form-control", value= student['Mname']) }}
        <br/>
        {{form.Lname.label(class = "form-label")}}
        {{ form.Lname(class = "form-control", value= student['Lname']) }}
        <br/>
        {{form.Gender.label(class = "form-label")}}
        {{ form.Gender(class = "form-select", value= student['Gender']) }}
        <br/>
        {{form.College.label(class = "form-label")}}
        {{ form.College(class = "form-select",id = "colleges",value= student['College']) }}

        <br/>
        {{form.Courses.label(class = "form-label")}}
        {{ form.Courses(class = "form-select", id = "courses", value= student['Courses']) }}
        <br/>

        {{form.Year_Level.label(class = "form-label")}}
        {{ form.Year_Level(class = "form-select", value= student['Year_Level']) }}
        <br/><br/>
    
        <a href="/" class = "btn btn-danger"> Cancel </a>
        {{ form.Submit(class = "btn btn-primary", value = "Save")}}
    </form>
</div>
</div>
</div>
{% endblock %}