{% extends 'base.html' %}

{% block body%}
<div class="container">
<div class="card-body">
<div class = "form form-group" >
    {%block header%}<h1>College Data</h1>{%endblock%}
    <div class="row">
        <div class="col-md-4">
          {% with messages = get_flashed_messages()  %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
    <form method = 'POST' action= "/update_college/{{ college ['COLLEGE'] }}">
        {{ form.hidden_tag() }}
        <br/>

        {{form.COLLEGE.label(class = "form-label")}}
        {{ form.COLLEGE(class = "form-control", value= college['COLLEGE'], readonly = "readonly") }}
        <br/>
        {{form.NAME.label(class = "form-label")}}
        {{ form.NAME(class = "form-control", value= college['NAME']) }}
        <br/>
        <a href="/College" class="btn btn-danger">Cancel</a>
        {{ form.Submit(class = "btn btn-primary", value = "SAVE")}}
    </form>
</div>
</div>
</div>
{% endblock %}